<div class="form">
    <h1><i class="material-icons">mode_edit</i> Editar Pagamento</h1>
    <form>
        <div class="col-md-12">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Destinatário</mat-label>
                <input matInput required name="nome" [(ngModel)]="pagamento.nome_destinatario" placeholder="Informe o nome do destinatário...">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Chave PIX</mat-label>
                <input matInput required name="chave" [(ngModel)]="pagamento.chave_pix" placeholder="Informe a chave do destinatário...">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>Banco</mat-label>
                <input matInput required name="banco" [(ngModel)]="pagamento.instituicao" placeholder="Informe o banco do destinatário...">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>Valor</mat-label>
                <input type="number" required min="0.01" [(ngModel)]="pagamento.valor" step="0.01" name="valor" matInput placeholder="Informe o valor da transferência...">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>CPF</mat-label>
                <input matInput required name="cpf" [(ngModel)]="pagamento.cpf" mask="000.000.000-00" placeholder="Informe o CPF...">
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field appearance="outline" class="half-width">
                <mat-label>Data do Pagamento</mat-label>
                <input matInput [matDatepicker]="picker" name="data" [(ngModel)]="pagamento.data_pagamento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput name="descricao" [(ngModel)]="pagamento.descricao" placeholder="Informe a descrição..."></textarea>
                </mat-form-field>
            </div>
        </div>

        <div class="col-md-12" id="btnSalvar">
            <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
            <button mat-raised-button color="basic" [mat-dialog-close]="false">Cancelar</button>
        </div>
    </form>
</div>